[Desktop Entry]
Version=1.0
Type=Application
Name=Screen Tracker
Comment=Track work time and capture screenshots
Exec=/home/a-fahmy/Documents/Work/Learning/apps/tracker-app/.venv/bin/python /home/a-fahmy/Documents/Work/Learning/apps/tracker-app/main.py
Icon=screen-tracker
Path=/home/a-fahmy/Documents/Work/Learning/apps/tracker-app
Terminal=false
Categories=Utility;Office;
StartupNotify=true
StartupWMClass=ScreenTracker
